<!--Листинг 1.8-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Обработка события Change - изменение значения элемента</title>
        <!-- <script language="JavaScript">
            function srec(obj)
            { obj.res.value=obj.num1.value* obj.num1.value}
        </script> -->
    </head>
    <body>
        <p>Вычисление площади квадрата</p>
        <!-- <form name="form1">
            Сторона: <input type="text"  size="7" name="num1" 
            onChange="srec(form1)"><hr>
            Площадь: <input type="text" size="7" name="res"><hr>
            <input type="reset" value="Обновить">
        </form> -->
    </body>
</html>