<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <!-- <script language="JavaScript">
            function care1 (a, h)
            { var s= (a.size*h.value)/2;
                document.write("Площадь равна ", s)
                return s
            }
        </script> -->
    </head>
    <body>
        <p>Вычисление площади треугольника</p>
        <!-- <form name="form1">
            Основание: <input type="text" size="7" name="st1"><hr/>
            Высота: <input type="text" size="7" name="st2"><hr/>
            <input type="button" value="Вычислить" onClick="care1(form1.st1,form1.st2)">
        </form> -->
    </body>
</html>