<!--Листинг 1.7-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Вычисление среднего дохода</title>
        <!-- <script language="JavaScript">

            var ilya = true;
            var a = prompt('Как вас зовут?');
            
            if(a=="ilya")
            {
                alert("welcome, ilya");
                document.write("Сайт взломан")
                }
                else
                {
                    alert("Неправильный пользователь")
            }

            function proj (obj)
            {
                var math1 = 1*obj.num1.value;
                var math2 = 1*obj.num2.value;
                var math3 = 1*obj.num3.value;
                var res3 = "3 из 3";
                var res2 = "2 из 3";
                var res1 = "1 из 3";
                var res0 = "0 из 3";

                if ((math1=="2") && (math2=="4") && (math3="4"))
                {
                    obj.res.value = res3
                    alert('congratulations')
                }
                else
                {                    
                    alert('Что-то пошло не так')
                    obj.res.value = "Где-то ошибка"
                }
            }
        </script> -->
    </head>
    <body>
        <p>Найдите значение выражений</p>
        <!-- <form name="form" action="">
            1+1 <input type="text" size="7" name="num1"><hr/>
            2+2 <input type="text" size="7" name="num2"><hr/>
            3+1 <input type="text" size="7" name="num3"><hr/>
            Ваш результат  <input type="text" size="15" name="res"><hr>
            <input type="button" value="Вычислить" onClick="proj(form)"><hr>
            <input type="reset" value="Обновить">
        </form> -->
    </body>
</html>