<!--Листинг 1.9-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Обработка события Focus - объект формы получает фокус</title>
        <!-- <script language="JavaScript">
            function srec()
            { form1.res.value=form1.num1.value* form1.num1.value}
        </script> -->
    </head>
    <body>
        focus
        <p>Вычисление площади квадрата</p>
        <!-- <form name="form1">
            Сторона: <input type="text"  size="7" name="num1" value="6"
            onFocus="srec()"><hr>
            Площадь: <input type="text" size="7" name="res"><hr>
            <input type="reset" value="Обновить">
        </form> -->
    </body>
</html>