body{
    background-color: rgba(248, 248, 248, 0);
    margin: 0px;
    font-family: monospace;
}
.project{
    width: 1000px;
    margin: 0px auto;
    border: 1px solid red;
    position: relative;
    min-height: 1000px;
}
.banner{
    position: sticky;
    top: 0px;
    height: 50px;
}
header div{
    font-size: 30px;
    text-align: center;
    z-index: 9999;
    background-color: #ffffff;
    border-bottom: 2px solid gray;
    margin: 0px auto;
    padding: 5px 0px;
}
.line{
    border: 1px solid green;
}
.checkbox{
    float: left;
    width: 50px;
    border: 1px solid red;
    margin: 20px 0px 0px 191px;
}
.block{
    width: 610px;
    border: 1px solid green;
    margin: 0px auto;
    margin-bottom: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid #8c8c8c;
}
.title{
    width: 200px;
    text-align: center;
    margin: 0px auto;
    font-size: 20px;
    padding-bottom: 10px;
}
img.add{
    border: 1px solid blue;
    width: 50px;
    position: sticky;
    top: 80%;
    left: 1310px;
}
input.remove{
    border: 1px solid blue;  
    margin: 0px auto;
}
textarea{
    resize: none;
    width: 462px;
    margin: 0px auto;
    min-height: 30px;
    border: none;
    border-bottom: 2px solid #f1f1f1;
    background-color: #e7e7e729;
    display: block;
    padding: 9px 11px;
    max-height: 200px;
}
textarea:focus{
    border: none;
    border-bottom: 2px solid #9edc9e;
}
textarea:active{
    border: none;
    border-bottom: 2px solid green;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 45px;
    left: 212px;
    height: 32px;
    width: 32px;
    background-color: #eee;
    border-radius: 18px;
}
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 10px;
    top: 6px;
    width: 9px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }