<!--Листинг 2.5-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Точка внутри треугольника</title>
        <!-- <script src="js/my.js"></script> -->
    </head>
    <body bgcolor="#FFDCDC">
        <h4>Лежит ли точка внутри заданного треугольника?</h4>
        <form name="form1">
            Координаты первой вершины треугольника: x=<input type="text" size="7" name="ax">
                y=<input type="text" size="7" name="ay"><hr>
            Координаты второй вершины треугольника: x=<input type="text" size="7" name="bx">
                y=<input type="text" size="7" name="by"><hr>
            Координаты третьей вершины треугольника: x=<input type="text" size="7" name="cx">
                y=<input type="text" size="7" name="cy"><hr>
            Введите координаты точки: <input type="text" size="8" name="x">
                y=<input type="text" size="8" name="x"><hr><hr>

            <input type="button" value="Вычислить" onclick="poinpoly(form1)"><br>
            Результат: <input type="text" size="40" name="res">
            <input type="reset" value="Отменить">
        </form>
    </body>
</html>