body{
    background-color: rgb(216, 238, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}
.daynight{
    width: 500px;
    height: 200px;
    margin: 0px auto;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #ebb7d6;
    color: #444444;
}
h2{
    margin: 0px auto;
    width: 149px;
    padding-top: 10px;
}
.data{
    margin: 20px 0px 0px 40px;
    font-size: 20px;
    float: left;
}
#time{
    display: inline-block;
}