<!--Листинг 3.2-->
<!--Перестановка изображений-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Перестановка изображений</title>
        <!-- <script src="js/my.js"></script> -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body bgcolor="#FFDCDC">
        <div class="project">
            <h2>Галерея рисунков</h2>
                <img src="gif/m1.gif" width="90" name="pic1">
                <img src="gif/m2.gif" width="90" name="pic2">
                <img src="gif/m3.gif" width="90" name="pic3">
                <img src="gif/m4.gif" width="90" name="pic4">
            <form name="form1">
                Рисунки с номерами
                <br>
                <input type="text" size="1" name="a1">
                <hr>
                <input type="text" size="1" name="a2">
                <br>
                <input type="button" value="Поменять местами" onclick="chan(form1)">
            </form>
        </div>
    </body>
</html>
