<!--Листинг 2.7-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Повторение с помощью функции setTimeout</title>
        <!-- <script src="js/my.js"></script> -->
    </head>
    <body bgcolor="#FFDCDC" onload="succpict ()">
        <h4>Просмотр рисунков</h4>
        <img src="gif/m1.gif" name="mypict" width="100" >
        <form name="form1">
            <input type="reset" value="Остановить" onclick="k=1; ref();">
            <input type="button" value="Начать снова" onclick="k=1; succpict ();"><br>
        </form>
    </body>
</html>