<!--Листинг 1.13-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <!-- <script src="js/my.js"></script> -->
        <title>Вертикальное графическое меню</title>
    </head>
    <body background="fon1.jpg">
        <h2><font color="#0000FF">Содержание</font></h2>
        <a href="tch1.htm" target="Main"
        onmouseover="document.pm1.src='img/1.jpg'"
        onmouseout="document.pm1.src='img/2.jpg'">
            <img src="img/2.jpg" name="pm1" alt="Форматирование текста"
            border="0" width="200">
        </a>
        <br>
        <a href="tch2.htm" target="Main"
        onmouseover="document.pm2.src='img/3.jpg'"
        onmouseout="document.pm2.src='img/4.jpg'">
            <img src="img/4.jpg" name="pm2" alt="Создание списков"
            border="0" width="200">
        </a>
        <br>
        <a href="tch3.htm" target="Main"
        onmouseover="document.pm3.src='img/5.jpg'"
        onmouseout="document.pm3.src='img/6.jpg'">
            <img src="img/6.jpg" name="pm3" alt="Построение таблиц" 
            border="0" width="200">
        </a>
        <br>
        <a href="tch4.htm" target="Main"
        onmouseover="document.pm4.src='img/7.jpg'"
        onmouseout="document.pm4.src='img/8.jpg'">
            <img src="img/8.jpg" name="pm4" alt="Использование графики" 
            border="0" width="200">
        </a>
        <br>
        <a href="tch5.htm" target="Main"
        onmouseover="document.pm5.src='img/9.jpg'"
        onmouseout="document.pm5.src='img/10.jpg'">
            <img src="img/10.jpg" name="pm5" alt="Создание фреймворк структуры" 
            border="0" width="200">
        </a>
        <br>
    </body>
</html>