<!--Листинг 1.15-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Объект Math</title>
        <!-- <script src="js/my.js"></script> -->
    </head>
    <body bgcolor="#FFDCDC">
        <h4>Пример сцеария с математической функцией</h4>
        <p>Вычисление площади и периметра треугольника</p>
        <form name="form1">
            Сторона 1: <input type="text" size="7" name="st1"><hr>
            Сторона 2: <input type="text" size="7" name="st2"><hr>
            Сторона 3: <input type="text" size="7" name="st3"><hr>
            <input type="button" value="Вычислить" onclick="care(form1)">
            <hr>
            <input type="reset" value="Отменить">
        </form>
    </body>
</html>