<!--Листинг 2.3-->

<html lang="en">
    <head>u
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Сортировка последовательности из четырех чисел</title>
        <!-- <script src="js/my.js"></script> -->
    </head>
    <body bgcolor="#FFDCDC">
        <h4>Сортировка последовательности из четырех чисел</h4>
        <form name="form1">
            Число 1 <input type="text" size="10" name="num1"><hr>
            Число 2 <input type="text" size="10" name="num2"><hr>
            Число 3 <input type="text" size="10" name="num3"><hr>
            Число 4 <input type="text" size="10" name="num4"><hr>
            <input type="button" value="Сортировка" onclick="sortval(form1)"><hr>
            <input type="reset" value="Отменить">
        </form>
    </body>
</html>