<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Оператор присваивания в качестве значения параметра обработки события</title>
        <link rel="stylesheet" href="css/style.css">
        <!-- <script src="js/my.js"></script> -->
    </head>
    <body>
        <div class="salary">
            <h1>Вычисление площади треугольника по основанию и высоте</h1>
            <hr>
            <div class="form">
                <!-- <form name="form">
                    <div class="line">
                        <div class="text">
                            Основание: 
                        </div>
                        <input type="text" name="st1" onblur="focus(obj)">
                    </div>
                    <div class="line">
                        <div class="text">
                            Высота: 
                        </div>
                        <input type="text" name="st2">
                    </div>
                    <div class="button">
                        <input type="button" value="Вычислить" onClick="proj(form)">
                    </div>
                    <div class="button">
                        <input type="reset" value="Очистить">
                    </div>
                    <div class="line">
                        <div class="text">
                            Площадь:
                        </div>
                        <input type="text" name="res">
                    </div>
                </form> -->
            </div>
        </div>
    </body>
</html>