<!--Листинг 3.3-->
<!--Простое вертикальное меню-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Простое вертикальное меню</title>
        <!-- <script src="js/my.js"></script> -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body bgcolor="#FFDCDC">
        <div class="project">
            <h2>Содержание</h2>
            <a href="tch1.html" onmouseover="img(1, 1)" onmouseout="img(1, 0)">
                <img src="gif/m1.gif" width="90" alt="Форматирование текста" >
            </a>
            <br>
            <a href="tch2.html" onmouseover="img(2, 1)" onmouseout="img(2, 0)">
                <img src="gif/m2.gif" width="90" alt="Создание списков">
            </a>
            <br>
            <a href="tch3.html" onmouseover="img(3, 1)" onmouseout="img(3, 0)">
                <img src="gif/m3.gif" width="90" alt="Построение таблиц">
            </a>
            <br>
            <a href="tch4.html" onmouseover="img(4, 1)" onmouseout="img(4, 0)">
                <img src="gif/m4.gif" width="90" alt="Использование графики">
            </a>
            <br>
            <a href="tch4.html" onmouseover="img(5, 1)" onmouseout="img(5, 0)">
                <img src="gif/m5.gif" width="90" alt="Создание фреймовой структуры">
            </a>
        </div>
    </body>
</html>
