<!--Листинг 1.15-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вычисление минимального значения</title>
    <!-- <script src="js/my.js"></script> -->
</head>

<body bgcolor="#FFDCDC">
    <h4>Вычисление минимального значения</h4>
    <form name="form1">
        Число 1 <input type="text" size="8" name="num1">
        <hr> Число 2 <input type="text" size="8" name="num2">
        <hr> Число 3 <input type="text" size="8" name="num3">
        <hr> Число 4 <input type="text" size="8" name="num4">
        <hr> Минимальное значение равно
        <input type="button" value="Определить" onclick="maxval(form1)">
        <input type="text" size="8" name="res">
        <input type="reset" value="Отменить">
    </form>
</body>

</html>