<!--Листинг 1.14-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Расписание занятий</title>
        <!-- <script src="js/my.js"></script> -->
    </head>
    <body bgcolor="#FFDCDC">
        <h4>Расписание занятий</h4>
        <table border="0" cellspacing="5" cellpadding="5">
            <tr>
                <td>
                    <form name="form1">
                        <textarea name="m1" cols="35" rows="4"></textarea>
                    </form>
                </td>
            </tr>
            <tr valign="middle">
                <td>
                    <ul>
                        <font size="4">
                            <li onmouseover="sch (s1)" onmouseout="delet()">
                                <b><i>1 Пара</i></b>
                                Математический анализ
                            </li>
                            <li onmouseover="sch (s2)" onmouseout="delet()">
                                <b><i>2 Пара</i></b>
                                Высшая алгебра
                            </li>
                            <li onmouseover="sch (s3)" onmouseout="delet()">
                                <b><i>3 Пара</i></b>
                                Программирование
                            </li>
                            <li onmouseover="sch (s4)" onmouseout="delet()">
                                <b><i>4 Пара</i></b>
                                История
                            </li>
                            <li onmouseover="sch (s5)" onmouseout="delet()">
                                <b><i>5 Пара</i></b>
                                Дискретный анализ
                            </li>
                        </font>
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>