<!--Листинг 2.13-->
<!--Определение по номеру дня его название-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Определение по номеру дня его название</title>
        <!-- <script src="js/my.js"></script> -->
    </head>
    <body bgcolor="#FFDCDC">
        <h2 color="#0000ff">Определение дня по его номеру</h2>
        <form name="form1">
            Вверите номер дня: <input type="text" size="7" name="num1">
            <hr>
            Название дня:
            <input type="button" value="Определить" onclick="numday(form1)">
            <input type="text" size="20" name="res">
            <input type="reset">
        </form>
    </body>
</html>