<!--Листинг 2.10-->
<!--Вертикальное меню со стрелкой-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Вертикальное меню со стрелкой</title>
        <!-- <script src="js/my.js"></script> -->
    </head>
    <body bgcolor="#FFDCDC">
        <h2 color="#0000ff">Содержание</h2>
        <img src="png/but0.png" width="50" height="50" name="p1" >
        <a href="gif/tch1.gif" onmouseover="myImg(p1,true);" onmouseout="myImg(p1,false);">
            <img src="pch/pch1.jpg" alt="форматирование текста" border="0" width="103" height="103">
        </a>
        <br>
        <img src="png/but0.png" width="50" height="50" name="p2" >
        <a href="gif/tch2.gif" onmouseover="myImg(p2,true);" onmouseout="myImg(p2,false);">
            <img src="pch/pch2.jpg" alt="форматирование текста" border="0" width="103" height="103">
        </a>
        <br>
        <img src="png/but0.png" width="50" height="50" name="p3" >
        <a href="gif/tch3.gif" onmouseover="myImg(p3,true);" onmouseout="myImg(p3,false);">
            <img src="pch/pch3.jpg" alt="форматирование текста" border="0" width="103" height="103">
        </a>
        <br>
        <img src="png/but0.png" width="50" height="50" name="p4" >
        <a href="gif/tch4.gif" onmouseover="myImg(p4,true);" onmouseout="myImg(p4,false);">
            <img src="pch/pch4.jpg" alt="форматирование текста" border="0" width="103" height="103">
        </a>
        <br>
        <img src="png/but0.png" width="50" height="50" name="p5" >
        <a href="gif/tch5.gif" onmouseover="myImg(p5,true);" onmouseout="myImg(p5,false);">
            <img src="pch/pch5.png" alt="форматирование текста" border="0" width="103" height="103">
        </a>
        <br>
    </body>
</html>