<!--Листинг 2.9-->
<!--Эффект удаления изображения от зрителя-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Эффект удаления изображения от зрителя</title>
        <!-- <script src="js/my.js"></script> -->
    </head>
    <body bgcolor="#FFDCDC">
        <h4>При наведении курсора мыши над рисунком изображение начинает удаляться от зрителя</h4>
        <img src="msm.jpg" name="mypict" onMouseOver="succpict();">
    </body>
</html>