<!--Листинг 2.17-->
<!--Обмен трех изображений-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Обмен трех изображений</title>
        <!-- s<script src="js/my.js"></script> -->
    </head>
    <body bgcolor="#FFDCDC">
        <h2 color="#0000ff">Обмен трех изображений</h2>
        <img src="gif/m1.gif" name="pm1" width="100">
        <img src="gif/m2.gif" name="pm2" width="100">
        <img src="gif/m3.gif" name="pm3" width="100">
        <form name="form1">
            <input type="text" size="30" name="num1" size="3">
            и
            <input type="text" size="30" name="num2" size="3">
            <input type="button" value="Обменять" onclick="ch3pict()">
        </form>
    </body>
</html>
