<!--Листинг 2.14-->
<!--Определение по номеру месяца номер квартала-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Определение по номеру месяца номер квартала</title>
        <!-- <script src="js/my.js"></script> -->
    </head>
    <body bgcolor="#FFDCDC">
        <h2 color="#0000ff">Определение номера квртала по номеру месяца</h2>
        <form name="form1">
            Вверите номер месяца: 
            <input type="text" size="7" name="num1">
            <hr>
            Месяц относится к кваралу номер:
            <input type="button" value="Определить" onclick="test()">
            <input type="text" size="7" name="res">
            <input type="reset">
        </form>
    </body>
</html>
