<!--Листинг 2.4-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Вычисление размера стипендии</title>
        <!-- <script src="js/my.js"></script> -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="form">
            <div class="header">
                <h4>Вычисление размера стипендии</h4>
                <h4>Введите полученные оценки в любом порядке</h4>
            </div>
            <form name="form1">
                Оценка 1 <input type="text" size="8" name="num1"><hr>
                Оценка 2 <input type="text" size="8" name="num2"><hr>
                Оценка 3 <input type="text" size="8" name="num3"><hr>
                Оценка 4 <input type="text" size="8" name="num4"><hr>
                Для определения размера стипендии нажмите на кнопку:<br>
                <input type="button" value="Определить" onclick="st(form1)"><br>
                <input type="text" size="50" name="stip"><hr>
                <input type="reset" value="Отменить">
            </form>
        </div>
    </body>
</html>