<!--Листинг 1.7-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Вычисление среднего дохода</title>
        <!-- <script language="JavaScript">
            function val (obj)
            {   
                var a1= 1*obj.num1.value;
                var a2= 1*obj.num2.value;
                var a3= 1*obj.num3.value;
                var a4= 1*obj.num4.value;
                var a5= 1*obj.num5.value;
                var a6= 1*obj.num6.value;
                var s = (a1+a2+a3+a4+a5+a6)/6
                obj.res.value = s
            }
        </script> -->
    </head>
    <body>
        <p>Найдите начисленную сумму гонорара за следующие месяцы</p>
        <!-- <form name="form1">
            Январь: <input type="text" size="7" name="num1"><hr/>
            Февраль: <input type="text" size="7" name="num2"><hr/>
            Март: <input type="text" size="7" name="num3"><hr/>
            Апрель: <input type="text" size="7" name="num4"><hr/>
            Май: <input type="text" size="7" name="num5"><hr/>
            Июнь: <input type="text" size="7" name="num6"><hr/>
            Средняя зарплата за полгода:  <input type="text" size="15" name="res"><hr>
            <input type="button" value="Вычислить" onClick="val(form1)"><hr>
            <input type="reset" value="Обновить" >
        </form> -->
    </body>
</html>