<!--Листинг 2.12-->
<!--Горизонтальное меню со стрелкой-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Горизонтальное меню со стрелкой</title>
        <!-- <script src="js/my.js"></script> -->
    </head>
    <body bgcolor="#FFDCDC">
        <h2 color="#0000ff">Содержание</h2>
        <table>
            <tr>
                <td align="center">
                    <img src="png/but0.png" width="50" height="50" name="p1" >
                </td>
                <td align="center">
                    <img src="png/but0.png" width="50" height="50" name="p2" >
                </td>
                <td align="center">
                    <img src="png/but0.png" width="50" height="50" name="p3" >
                </td>
                <td align="center">
                    <img src="png/but0.png" width="50" height="50" name="p4" >
                </td>
                <td align="center">
                    <img src="png/but0.png" width="50" height="50" name="p5" >
                </td>
            </tr>
            <tr>
                <td>
                    <a href="gif/tch1.gif" onmouseover="myImg(p1,1);" onmouseout="myImg(p1,0);">
                        <img src="pch/pch1.jpg" alt="форматирование текста" border="0" width="103" height="103">
                    </a>
                </td>
                <td>
                    <a href="gif/tch2.gif" onmouseover="myImg(p2,1);" onmouseout="myImg(p2,0);">
                        <img src="pch/pch2.jpg" alt="Создание списков" border="0" width="103" height="103">
                    </a>
                </td>
                <td>
                    <a href="gif/tch3.gif" onmouseover="myImg(p3,1);" onmouseout="myImg(p3,0);">
                        <img src="pch/pch3.jpg" alt="Построенки таблиц" border="0" width="103" height="103">
                    </a>
                </td>
                <td>
                    <a href="gif/tch4.gif" onmouseover="myImg(p4,1);" onmouseout="myImg(p4,0);">
                        <img src="pch/pch4.jpg" alt="Использование графики" border="0" width="103" height="103">
                    </a>
                </td>
                <td>
                    <a href="gif/tch5.gif" onmouseover="myImg(p5,1);" onmouseout="myImg(p5,0);">
                        <img src="pch/pch5.png" alt="Создание фреймовой структуры" border="0" width="103" height="103">
                    </a>
                </td>
            </tr>
        </table>
    </body>
</html>